.loginform,.signform{
border:2px solid #d357a1;
width:400px;
left:30%;
top:20%;
position:absolute;
background-color:#FFFFCC;
padding:10px;
}
.loginform ul,.signform ul
{
	margin:0px;
    list-style-type: none;
	
}

.loginform ul li, .signform ul li
{
    padding:5px;
}

.loginform ul li label, .signform ul li label
{
    width:130px;
    display:inline-block;
	color:#3366CC;
	font-weight: bold;	
}

.loginform ul li label[id="lblstatus"],.signform ul li label[id="lblstatus2"]
{
   color: red;
    width:100%;
}
.loginform ul li input[type="button"], .signform ul li input[type="button"]
{
  margin-left:43px;
  margin-top:20px;
	
}

.tblCash
{
    margin:0;
    border:1px solid silver;
	width:100%;
}

.tblCash thead
{
    background-color:green;
    color:#fff;
}

.tblCash tr td
{
    background-color:#fff;
}

.tblCash tr td.hide,.tblCash thead th.hide,.hideme
{
    display:none;
}

.tblCash tr td.cash
{
    text-align:right;
}
.tblCash tr td.sno
{
    text-align:center;
}
.divtotal
{
    background-color:#FFFFCC;
    width:250px;
    height:150px;
    border:1px solid silver;
    padding:0px;
    margin:5px;
    text-align:center;
    font-size: 30px;
    vertical-align: middle;
	float:left;
	display:inline;
	margin-top:36px;
}

.divMainGrid{
display:inline;
float:left;
width:30%;
}

#divMain{
display:inline;
}

.divtotal span
{
    padding:40px 0 0 0;
	display:block;
	
}

.divlogindetail{
	display:inline;
	float:right;
}

body{

color:#0048c4;
}

input[type="text"],input[type="password"] {
background-color:#fff;
border:2px solid d357a1;
Padding:5px;
font-weight: bold;
color:blue;
min-width:200px;
}
input[type="button"]{
background-color:#279B9B;
Padding:5px;
color:#fff;
min-width:90px;
font-weight: bold;
border:2px solid d357a1;
}
input[type="button"]:hover{

background-color:#d357a1;
color:#0048c4;
}
input[type="button"]:active{
background-color:#fff;
color:#0048c4;

}